[submodule "jquery/1.11.0"]
	path = jquery/1.11.0
	url = git@github.com:jquery/jquery.git
[submodule "jquery/1.11.1"]
	path = jquery/1.11.1
	url = git@github.com:jquery/jquery.git
[submodule "jquery/1.11.2"]
	path = jquery/1.11.2
	url = git@github.com:jquery/jquery.git
[submodule "jquery/2.1.0"]
	path = jquery/2.1.0
	url = git@github.com:jquery/jquery.git
[submodule "jquery/2.1.1"]
	path = jquery/2.1.1
	url = git@github.com:jquery/jquery.git
[submodule "jquery/2.1.2"]
	path = jquery/2.1.2
	url = git@github.com:jquery/jquery.git
[submodule "jquery/2.1.3"]
	path = jquery/2.1.3
	url = git@github.com:jquery/jquery.git
[submodule "bootstrap/3.3.0"]
	path = bootstrap/3.3.0
	url = git@github.com:twbs/bootstrap.git
[submodule "bootstrap/3.3.1"]
	path = bootstrap/3.3.1
	url = git@github.com:twbs/bootstrap.git
[submodule "bootstrap/3.3.2"]
	path = bootstrap/3.3.2
	url = git@github.com:twbs/bootstrap.git
[submodule "font-awesome/4.1.0"]
	path = font-awesome/4.1.0
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "font-awesome/4.2.0"]
	path = font-awesome/4.2.0
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "font-awesome/4.3.0"]
	path = font-awesome/4.3.0
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "bootswatch/3.3.2"]
	path = bootswatch/3.3.2
	url = git@github.com:thomaspark/bootswatch.git
